VITE_CHAIN_ID=11155111
VITE_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/TU_API_KEY"
VITE_MEDICAL_REGISTRY_ADDRESS=""
VITE_DOCUMENT_REGISTRY_ADDRESS=""
VITE_PERMISSION_MANAGER_ADDRESS=""
VITE_API_URL="http://localhost:3001"
