DATABASE_URL="postgresql://medichain:medichain@localhost:5432/medichain?schema=public"
PINATA_API_KEY="tu_api_key_de_pinata"
PINATA_SECRET_KEY="tu_secret_key_de_pinata"
FRONT_URL="http://localhost:5173"
PORT=3001
